# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# General styles
[*]
indent_style = space
end_of_line = lf
insert_final_newline = true

[*.json]
indent_size = 2

[*.cs]
indent_size = 4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false

# ReSharper properties
resharper_add_imports_to_deepest_scope = true
resharper_blank_lines_around_single_line_auto_property = 1
resharper_braces_for_ifelse = required
resharper_csharp_insert_final_newline = true
resharper_csharp_place_constructor_initializer_on_same_line = false
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_instance_members_qualify_declared_in =
resharper_place_expr_method_on_single_line = false
resharper_place_expr_property_on_single_line = true
resharper_wrap_object_and_collection_initializer_style = chop_always
